<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mushroom Game Server</title>
    <style>
        body {
            text-align: center;
            margin-top: 10%;
            margin-left: 10%;
            margin-right: 10%;
        }
    </style>
</head>
<body>
    <h1>MushroomPocket Game Server</h1>
    <p>Welcome to the MushroomPocket Game Server, a central match-making server to facilitate multiplayer in the <a href="https://github.com/Prakhar896/MushroomPocket">MushroomPocket console game.</a></p>
    <p>This server does not have a public-facing frontend; this is the only webpage offered by the server.</p>
    <br>
    <p>© 2024 Prakhar Trivedi</p>
</body>
</html>